{% extends "bootstrap/base.html" %}

{% block title %}P2PWeibo{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">P2PWeibo</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-3">
                <center><h1>{{data['username']}}</h1></center>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <center><h3>关注</h3></center>
                <center><h3>{{data['follows']}}</h3></center>
            </div>
            <div class="col-md-2">
                <center><h3>被关注</h3></center>
                <center><h3>{{data['fans']}}</h3></center>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3"></div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- posts -->
                <!-- kind, user, timestamp Content RefeUser RefeContent -->
                {% for post in data['posts'] %}
                    <h3><a href="./{{post[1]}}">{{post[1]}}</a></h3>
                    {{post[2]}}
                    <h4>{{post[3]}}</h4>
                    {% if post[0] == '1' %}
                        <h4>@<a href="./{{post[4]}}">{{post[4]}}</a>: {{post[5]}}</h4>
                    {% endif %}
                    <br/>
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endblock %}
